{% extends 'base.html.twig' %}

{% block title %}Ajout artiste{% endblock %}

{% block body %}

{% set route = app.request.attributes.get('_route') %}

<h1 class="pt-2 text-center">
  {% if route =="admin_artiste_ajout" %}
    Ajout
  {% elseif route =="admin_artiste_modif" %}
    Modification
  {% endif %}d'un artiste !
</h1>
{{form_start(formArtiste)}}

  {{form_row(formArtiste.nom,)}}
  {{form_row(formArtiste.description)}}
    <div class="row">
      <div class="col">{{form_row(formArtiste.site)}}</div>
      <div class="col">{{form_row(formArtiste.type)}}</div>
    </div>

  {{form_row(formArtiste.image)}}

  <div class="row">
      <div class="col"><a href=" {{path('admin_artistes')}} " class="btn btn-warning btn-block">Annuler</a></div>
      <div class="col"><input type="submit", class="btn btn-success btn-block"
        value=
              {% if route =="admin_artiste_ajout" %}
                "Ajouter l'artiste"
              {% elseif route =="admin_artiste_modif" %}
                "Modifier l'artiste"
              {% endif %}>
      </div>
  </div>
  
  

{{form_end(formArtiste)}}
{% endblock %}
